<div class="layout one-col fixed-width" style="Margin: 0 auto; max-with: 600px; min-width: 400px; width: 400px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-all">
    <div class="layout__inner" style="border-collapse: collapse; display: table;width: 100%;background-color: #ffffff">
        <div class="column" style="text-align: left; color: #595959; font-size: 14px; line-height: 26px; font-family: Lato,Tahoma,sans-serif;max-width: 600px;min-width: 320px;width: 400px">
            <div style="Margin-left: 20px;Margin-right: 20px;margin-top: 20px;width: 370px">
                <p>阁下，您好：</p>
                <p>您订阅的影片{{ tv_title }}({{ address_type }})已更新。</p>
                <p>致辞<br><br>Kura Admin</p>
            </div>
        </div>
    </div>
</div>